* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
    overflow-x: hidden;
}

#main {
    height: 100%;
    width: 100%;
    position: relative;
}

.card {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 230px;
    height: 300px;

    border: 2px solid salmon;
    border-radius: 20px;
    overflow: hidden;

    transition: transform 0.5s;
}

.card:hover {
    transform: translate(-50%, -50%) scale(1.1);
}

#s0 {
    z-index: 4;
    background-color: blue;
}

#s1 {
    z-index: 3;
    rotate: -8deg;
    background-color: pink;
}

#s1:hover {
    z-index: 5;
}

#s2 {
    z-index: 2;
    rotate: -16deg;
    background-color: greenyellow;
}

#s2:hover {
    z-index: 5;
}

#s3 {
    z-index: 1;
    rotate: -24deg;
    background-color: red;
}

#s3:hover {
    z-index: 5;
}

img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

/* 📱 MOBILE */
@media (max-width: 600px) {

    .card {
        width: 58vw;
        height: 76vw;
        max-width: 230px;
        max-height: 300px;
    }

    .card:hover {
        transform: translate(-50%, -50%) scale(1.03);
    }
}
